.main_container{
    padding: 10px;
    background-color: #fff;
    border:1px solid #ebebeb;
    box-shadow: 0 0 10px #ebebeb;
}
.table_title{
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0 5px 0;
}